---
version: "2"
services:
  postgres:
    image: postgres:9.6
    environment:
      - POSTGRES_USER=otrs
      - POSTGRES_PASSWORD=otrs
    volumes:
      - "${DATA}/postgres/data:/var/lib/postgresql/data"
  otrs:
    image: rkojedzinszky/otrs-docker
    environment:
      - DATABASE_TYPE=postgres
      - DATABASE_HOST=postgres
      - DATABASE_NAME=otrs
      - DATABASE_USER=otrs
      - DATABASE_PASSWORD=otrs
    volumes:
      - "${DATA}/otrs/data:/data"
    ports:
      - "8080:80"
